<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <!--配置别名-->
    <typeAliases>
        <!--类型的别名就是类名-->
        <package name="kgc.entity"></package>
    </typeAliases>

    <!--2.	在mybatis配置文件中添加分页插件的支持-->
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <!--注意:标签出现的顺序-->

    <!--加载sql映射文件-->
    <mappers>
        <mapper resource="kgc/mapper/DistrictMapper.xml"></mapper>
        <mapper resource="kgc/mapper/HouseMapper.xml"></mapper>
        <mapper resource="kgc/mapper/StreetMapper.xml"></mapper>
        <mapper resource="kgc/mapper/TypeMapper.xml"></mapper>
        <mapper resource="kgc/mapper/UsersMapper.xml"></mapper>
    </mappers>
</configuration>